/* Se ha configurado por default los componentes internos para que permita una mejor fluidez a la hora de crear los contenidos*/

body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);

}

h1 {
  margin-top: var(--spacing-10);

  font-family: var(--heading);
  font-size: var(--text-4xl);
  font-weight: var(--extrabold);
  line-height: var(--leading-10);
  color: var(--content-headings);
}

h2 {
  margin-top: var(--spacing-10);

  font-family: var(--heading);
  font-size: var(--text-2xl);
  font-weight: var(--bold);
  line-height: var(--leading-8);
}

h3 {
  margin-top: var(--spacing-6);

  font-family: var(--heading);
  font-size: var(--text-xl);
  font-weight: var(--semibold);
  line-height: var(--leading-8);
}

h4 {
  font-family: var(--heading);
}

h5,
h6 {
  font-family: var(--heading);
}

p {
  margin-top: var(--spacing-4);

  font-family: var(--text);
  font-size: var(--text-base);
  font-weight: var(--regular);
  line-height: var(--leading-7);
}

b {
  font-weight: var(--bold);
}

a {
  color: var(--content-links);
  text-decoration: none;
  font-weight: var(--bold);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
}

section {
  max-width: var(--width-2xl);
  width: 100%;
  margin-bottom: var(--spacing-10);
}

pre {
  margin-top: var(--spacing-4);

  background-color: var(--foreground);
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: var(--rounded-lg);
}

code {
  font-family: var(--monospace);
  color: var(--muted);
  line-height: var(--leading-5);
  white-space: pre-wrap;
  word-wrap: break-word;
}

section>ul {
  margin: var(--spacing-4) var(--spacing-8);
  line-height: var(--spacing-8);
}

section>ul li::marker {
  color: var(--content-markers);
}

/* Para agregar imagenes se deben agregar envolviendo en figure y agregar el figcaption en caso se requiera */

figure>img {
  margin-top: var(--spacing-8);

  border-radius: var(--rounded-lg);
  border-color: var(--gray-secondary);
  border-style: solid;
  border-width: 1px;
  box-shadow:
    0px 1px 10px rgb(0 0 0 / 10%),
    1px 1px 2px rgb(0 0 0 / 20%);
}

figure figcaption {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-8);

  font-family: var(--text);
  font-size: var(--text-sm);
  font-weight: var(--regular);
  line-height: var(--leading-5);
  color: var(--content-captions);
}

/* Para las preguntas, se crea un formulario que esta compuesto de labels para los textos y ul-li para incluir las opciones */

form {
  margin-top: var(--spacing-4);
}

form>ul {
  list-style: none;
  margin-bottom: var(--spacing-4);
}

form label {
  font-family: var(--text);
  font-size: var(--text-sm);
  font-weight: var(--semibold);
  line-height: var(--leading-4);
  color: var(--foreground);
}

form>ul>li input {
  margin-right: var(--spacing-2);
  accent-color: var(--answer-color);
}